html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.wall {
    background-color: black;
}

.empty {
    background-color: rgb(235, 231, 231);
}

.trap {
  background-color: firebrick;
}

.key {
  background-color: forestgreen;
}

.door {
  background-color: burlywood;
}

.player {
  background-color: blue;
}



td {
    width: 4rem;
    height: 4rem;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
